<html>
  <head>
    <title>Zachary's Blog</title>
  </head>
    <div>
      <h1><a href="">Django Blog</a><h1>
    </div>
    <div>
      <p>published: 04.26.2017, 5:16</p>
      <h2><a href="">My first post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam veneatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commod, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
    <div>
      <p>published: 04.25.2017, 5:30</p>
      <h2><a href="">My second post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fesce dapibus, tellus ac cursus, commod, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
  </body>
</html>
